page-chat-interactivo {
    #content{
        background: rgba(7,147,202,1);
        background: -moz-linear-gradient(top, rgba(7,147,202,1) 0%, rgba(20,133,204,1) 0%, rgba(19,163,216,1) 0%, rgba(6,134,177,0.49) 51%, rgba(11,136,177,0.29) 71%, rgba(11,136,177,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,147,202,1)), color-stop(0%, rgba(20,133,204,1)), color-stop(0%, rgba(19,163,216,1)), color-stop(51%, rgba(6,134,177,0.49)), color-stop(71%, rgba(11,136,177,0.29)), color-stop(100%, rgba(11,136,177,0)));
        background: -webkit-linear-gradient(top, rgba(7,147,202,1) 0%, rgba(20,133,204,1) 0%, rgba(19,163,216,1) 0%, rgba(6,134,177,0.49) 51%, rgba(11,136,177,0.29) 71%, rgba(11,136,177,0) 100%);
        background: -o-linear-gradient(top, rgba(7,147,202,1) 0%, rgba(20,133,204,1) 0%, rgba(19,163,216,1) 0%, rgba(6,134,177,0.49) 51%, rgba(11,136,177,0.29) 71%, rgba(11,136,177,0) 100%);
        background: -ms-linear-gradient(top, rgba(7,147,202,1) 0%, rgba(20,133,204,1) 0%, rgba(19,163,216,1) 0%, rgba(6,134,177,0.49) 51%, rgba(11,136,177,0.29) 71%, rgba(11,136,177,0) 100%);
        background: linear-gradient(to bottom, rgba(7,147,202,1) 0%, rgba(20,133,204,1) 0%, rgba(19,163,216,1) 0%, rgba(6,134,177,0.49) 51%, rgba(11,136,177,0.29) 71%, rgba(11,136,177,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0793ca', endColorstr='#0b88b1', GradientType=0 );
    }
}

