page-d2-p1-t1 {
    .fondo{
        background: rgba(75,156,231,1);
        background: -moz-linear-gradient(top, rgba(75,156,231,1) 0%, rgba(73,142,249,0.21) 76%, rgba(72,138,255,0.21) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,156,231,1)), color-stop(76%, rgba(73,142,249,0.21)), color-stop(100%, rgba(72,138,255,0.21)));
        background: -webkit-linear-gradient(top, rgba(75,156,231,1) 0%, rgba(73,142,249,0.21) 76%, rgba(72,138,255,0.21) 100%);
        background: -o-linear-gradient(top, rgba(75,156,231,1) 0%, rgba(73,142,249,0.21) 76%, rgba(72,138,255,0.21) 100%);
        background: -ms-linear-gradient(top, rgba(75,156,231,1) 0%, rgba(73,142,249,0.21) 76%, rgba(72,138,255,0.21) 100%);
        background: linear-gradient(to bottom, rgba(75,156,231,1) 0%, rgba(73,142,249,0.21) 76%, rgba(72,138,255,0.21) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b9ce7', endColorstr='#488aff', GradientType=0 );
      }
}
